@mixin make-grid($column: 12) {
  @for $i from 1 through $column {
    .col-xs-#{$i} {
      width: calc(100% / #{$column} * #{$i});
    }
  }
  @each $name, $value in ($breakpoints-width) {
    @media (min-width: #{$value}px) {
      @for $i from 1 through $column {
        .col-#{$name}-#{$i} {
          width: calc(100% / #{$column} * #{$i});
        }
      }
    }
  }
}

@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
  &::before {
    display: block;
    clear: both;
    content: "";
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}
