@import "try-fonts";


$font-default: 'Open Sans', sans-serif; // Обычный текст, шрифт без засечек
$font-title: 'Noto Serif', serif; // Различные заголовки, шрифт с засечками



@mixin font-default($sizeValue: 14px, $line: 1.2, $font-weight: normal) {
  font: $font-weight #{$sizeValue}/#{$line} $font-default;
}

@mixin font-title($sizeValue: 14px, $line: 1.2, $font-weight: 600) {
  font: $font-weight #{$sizeValue}/#{$line} $font-title;
}
