@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
  url('/fonts/Open-sans/open-sans-v15-latin_cyrillic-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url('/fonts/Open-sans/open-sans-v15-latin_cyrillic-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
  url('/fonts/Open-sans/open-sans-v15-latin_cyrillic-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
  url('/fonts/Open-sans/open-sans-v15-latin_cyrillic-700.woff2') format('woff2');
}

@font-face {
  font-family: 'PT Sans';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
  url('/fonts/PT-sans/pt-sans-v9-latin_cyrillic-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'PT Sans';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
  url('/fonts/PT-sans/pt-sans-v9-latin_cyrillic-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto-Light';
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: local('Roboto-Light'),
  url('/fonts/Roboto/Roboto-Light.ttf') format('truetype'),
  url('/fonts/Roboto/Roboto-Light.woff') format('woff'),
  url('/fonts/Roboto/Roboto-Light.woff2') format('woff2');
}


@font-face {
  font-family: 'Roboto';
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: local('Roboto-Regular'),
  url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
  url('/fonts/Roboto/Roboto-Regular.woff') format('woff'),
  url('/fonts/Roboto/Roboto-Regular.woff2') format('woff2');
}