.announce-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0 #{-$spacer/2};
  @include media(tablet) {
    margin: 0 get-vw(-10);
  }
  @include media(mobile) {
    display: block;
    margin: 0;
    &--events {
      display: flex;
      justify-content: space-between;
      .announce {
        @include media(mobile) {
          width: calc(50% - 5px);
        }
      }
    }
  }
}

.announce {
  flex: none;
  margin: 0 #{$spacer/2} $spacer;
  width: 580px;
  @include media(tablet) {
    width: get-vw(580);
    margin: 0 get-vw(10) get-vw(20);
  }
  @include media(mobile) {
    width: auto;
    margin: 0 0 $spacer/2;
  }
  &--big-image {
    position: relative;
    height: 350px;
    @include media(tablet) {
      height: get-vw(350);
    }
    .announce__image-wrapper {
      height: 100%;
      @include media(mobile) {
        height: auto;
      }
    }
    @include media(mobile) {
      height: auto;
    }
  }
  &--tall {
    position: relative;
    @include media(desktop) {
      width: 280px;
      height: 450px;
    }
    @include media(tablet) {
      width: get-vw(280);;
      height: get-vw(450);
    }
  }
  &--small,
  &--less {
    @include media(desktop) {
      width: 280px;
    }
    @include media(tablet) {
      width: get-vw(280);
    }
  }
}

.announce__image {
  position: relative;
  display: block;
  border-radius: 5px;
  overflow: hidden;
  @include media(tablet) {
    border-radius: get-vw(5);
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:
        linear-gradient(0deg, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)),
        linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50.52%, rgba(0, 0, 0, 0.2) 80.21%);
  }
  .announce--video &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background: rgba($dark, 0.8) url(../img/play.svg) 22px 16px no-repeat;
    background-size: 22px auto;
    border-radius: 50%;
    @include media(tablet) {
      background-position: get-vw(22) get-vw(16);
      background-size: get-vw(22);
      width: get-vw(60);
      height: get-vw(60);
    }
  }
  .announce--tall &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 86px;
    background: url(../img/newyear.svg) no-repeat;
    background-size: contain;
    @include media(tablet) {
      width: get-vw(90);
      height: get-vw(86);
    }
    @include media(mobile) {
      width: 56px;
      height: 54px;
      top: 65%;
    }
  }
  .announce--big-image &,
  .announce--tall & {
    @include media(tablet up) {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.announce__category {
  display: block;
  @include font-default(11px, 16px, 700);
  color: #66B87E;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  .announce-list--top & {
    margin: 16px 0 9px;
    @include media(tablet) {
      margin: get-vw(16) 0 get-vw(9);
    }
    @include media(mobile) {
      margin-top: 8px;
    }
  }
  .announce--less & {
    margin: 15px 0 4px;
    @include media(tablet) {
      margin: get-vw(15) 0 get-vw(5);
    }
    @include media(mobile) {
      margin-top: 8px;
    }
  }
  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }
}

.announce__title {
  margin: 0 0 6px;
  @include font-title(20px, 1.4, 600);
  color: $dark;
  letter-spacing: -0.01em;
  @include media(tablet) {
    font-size: get-vw(20);
  }
  .announce--big-image & {
    @include media(mobile) {
      margin-top: 10px;
    }
    @include media(tablet up) {
      position: absolute;
      left: 20px;
      bottom: 49px;
      color: $light;
      font-size: 22px;
    }
    @include media(tablet) {
      left: get-vw(20);
      bottom: get-vw(49);
      font-size: get-vw(22);
    }
  }
  .announce--tall & {
    position: absolute;
    left: 33px;
    right: 33px;
    top: 58px;
    text-align: center;
    color: $light;
    font-size: 26px;
    text-shadow:
        $dark 1px 1px 0,
        $dark -1px -1px 0,
        $dark -1px 1px 0,
        $dark 1px -1px 0;
    @include media(tablet) {
      left: get-vw(33);
      right: get-vw(33);
      top: get-vw(58);
      font-size: get-vw(26);
    }
    @include media(mobile) {
      top: 30px;
      right: 10px;
      left: 10px;
      @include font-default(15px, 20px, 700);
    }
  }
  .announce--less & {
    @include media(mobile) {
      @include font-default(15px, 22px, 600);
    }
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}

.announce__description {
  margin: 0 0 10px;
  @include font-default(15px, 1.6666, 500);
  color: #4C4C4C;
  @include media(tablet) {
    margin-bottom: get-vw(10);
    font-size: get-vw(15);
  }
  .announce--less & {
    margin-bottom: 6px;
    @include media(mobile) {
      display: none;
    }
  }
}

.announce__author {
  display: flex;
  align-items: center;
  .announce--big-image & {
    position: absolute;
    right: 20px;
    bottom: 20px;
    @include media(tablet) {
      right: get-vw(20);
      bottom: get-vw(20);
    }
  }
}

.announce__author-image {
  margin: 0 6px 0 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
  border-radius: 50%;
}

.announce__author-info {
  @include font-default(13px, 1.3846, 400);
  color: #4C4C4C;
  .announce--big-image & {
    color: $light;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}

.announce__image-wrapper {
  position: relative;
  .announce--small & {
    margin-bottom: 10px;
  }
}

.recipe-stats {
  position: absolute;
  display: flex;
  .announce--big-image & {
    left: 20px;
    bottom: 20px;
    @include media(tablet) {
      left: get-vw(20);
      bottom: get-vw(20);
    }
  }
  .announce--small & {
    flex-wrap: wrap;
    left: 10px;
    right: 10px;
    bottom: 10px;
    @include media(tablet) {
      left: get-vw(10);
      right: get-vw(10);
      bottom: get-vw(10);
    }
    .recipe-stats__item--rating {
      width: 100%;
      margin-bottom: 8px;
    }
    .recipe-stats__item--duration {
      margin-left: auto;
    }
  }
}

.recipe-stats__item {
  display: flex;
  align-items: center;
  margin-right: 15px;
  color: $light;
  @include font-default(15px, 1.3333, 600);
  @include media(tablet) {
    margin-right: get-vw(15);
    font-size: get-vw(15);
  }
  &:last-of-type {
    margin: 0;
  }
  &::before {
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: center;
    @include media(tablet) {
      margin-right: get-vw(5);
      width: get-vw(20);
      height: get-vw(20);
    }
  }
  &--rating::before {
    background-image: url(../img/star.svg);
    background-size: 20px auto;
    @include media(tablet) {
      background-size: get-vw(20) auto;
    }
  }
  &--favorite::before {
    background-image: url(../img/heart.svg);
  }
  &--comments::before {
    background-image: url(../img/comment.svg);
    background-size: 17px auto;
    @include media(tablet) {
      background-size: get-vw(17) auto;
    }
  }
  &--duration::before {
    background-image: url(../img/clock.svg);
  }
}

.announce__btn-link {
  text-transform: uppercase;
  @include font-default(13px, 1.3846, 700);
  padding: 7px 14px 8px;
  border: 1px solid $light;
  border-radius: 20px;
  background: transparent;
  color: $light;
  text-decoration: none;
  @include media(tablet) {
    padding: get-vw(7) get-vw(14) get-vw(8);
    font-size: get-vw(13);
  }
  .announce--tall & {
    position: absolute;
    left: 50%;
    bottom: 55px;
    transform: translateX(-50%);
    @include media(tablet) {
      bottom: get-vw(55);
    }
    @include media(mobile) {
      display: none;
    }
  }
}
