.section-title {
  position: relative;
  margin: 0 0 5px;
  @include font-title(32px, 1.3125, 600);
  color: $dark;
  letter-spacing: -0.012em;

  .recipes & {
    margin-bottom: 10px;
  }
  .event-soviets & {
    margin-bottom: 32px;
  }
}

.section-description {
  margin: 0 0 38px;
  @include font-title(20px, 1.4, 600);
  color: $dark;
  position: relative;
  width: 937px;
  letter-spacing: -0.01em;;
}

.section-image {
  position: absolute;
  right: -64px;
  top: 0;
  width: 265px;
  .top-soviets & {
    top: -38px;
  }
  .recipes & {
    top: 23px;
  }
  .event-soviets & {
    top: -75px;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.section-btn {
  position: absolute;
  top: 24px;
  right: 9px;
  text-decoration: none;
  color: $light;
  background: #229644;
  border-radius: 20px;
  @include font-default(13px, 24px, 700);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 5px 20px;

  &:hover {
    text-decoration: none;
  }
}


.top-soviets {
  position: relative;
  padding: 18px 0 16px;
}

.recipes {
  position: relative;
  padding: 18px 0 0;
  z-index: 1;
}

.event-soviets {
  position: relative;
  padding: 20px 0 0;
}
